body{
    padding-top:0px;
    min-height: 100vh;
    font-family : "Roboto", sans-serif;
    color : var(--background-color);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display : flex;
    flex-direction : column;
    align-items : center;
    scroll-behavior: smooth;
    background-image:linear-gradient(to Bottom, #ff0000, #000000, #ffffff);
}

header{
    padding-top:0px;
    background-color : var(--secondary-color);
    color : #ffffff;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin-top:auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer{
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}