
*{
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}
body{
    padding-top: 0px;
    min-height: 100vh;
    font-family : "Roboto", sans-serif;
    color : var(--background-color);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    align-items : center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image:linear-gradient(to Bottom, Red,black, white);
    align-self: center;
}
body h3{
    color: white;
    margin-bottom: 2%;
    text-align: left;
    text-decoration: bold;
    text-shadow: black 1px 1px 2px, black 0 0 25px, black 0 0 5px;
}
body p{
    color: white;
    margin-bottom: 2%;
    text-align: right;
    padding: 2%;
    font-size: 1.1rem;
    object-fit:contain;
}
header{
    width:100%;
}
image{
    width:fit-content;
    height: auto;
    object-fit: cover;
}
figure img{
    border: white 2px solid;
    border-radius: 1%;
    display: block;
}
header h1{
    font-size : 2rem;
    text-align : left;
    margin-top : 1%;
    margin-left : 2%;
    width:100%
}
nav{
    background-color: black;
    color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0%;
    margin-top:auto;
}
nav ul{
    width:100%;
    list-style:none;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    padding:2%;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    align-items:center;
    color:white;
    transition: all 0.2s ease-out;
}
nav a:hover{
    background:darkorchid;
    font-size:120%;
    transition: all 0.2s ease-in-out;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color:darkorchid;
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
.sidebar li{
    width:100%;
}
.sidebar a{
    width:100%;
}
.menu-button{
    display:none;
}
main{
    min-height : 80vh;
    color : rgb(253, 249, 249);
    opacity: 0.75;
}
figcaption{
    display:flex;
    margin-top: 0.5em;
    font-size: 1.01rem;
    color: white;
}
#grid-container{
    display : grid;
    padding: 1%;
    align-content: center;
    grid-auto-columns : 700px;
    grid-auto-rows: 500px;
    gap : 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "box1"
        "box2";
        justify-content: left;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
}
.box1{
    border-radius : 8px;
    padding : 1%;
    display : flex;
    align-items : center;
    justify-content : center;
    font-size : 1.5rem;
    text-align : center;
    color:#ffffff
}
.box2{
    width: 90%;
    border-radius : 8px;
    padding : 1%;
    display : flex;
    align-items : center;
    justify-content : center;
    font-size : 1.5rem;
    text-align : center;
    color:#ffffff
}
footer{
    text-align : center;
    padding-top : 2%;
    background-color: var(--background-color);
    color : #ffffff;
    position :static;
    bottom : 0;
    width : 100%;
    height: 10%;
}
@media (max-width : 800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display:block;
    }
    .menu-button:hover{
        background: gray;
        color: black;
        font-size:120%;
        transition: all 0.2s ease-in-out;
    }
}
@media (max-width:500px){
    figure img {
        width: 75%;
        height: auto;
        object-fit: fill;
    }
    .sidebar{
        width:100%;
    }
    #grid-container{
        grid-auto-columns : auto;
        grid-auto-rows: 300px;
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4";
        grid-template-columns: 1fr;
        justify-content: center;
        margin-bottom: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .box1{
        font-size: 1rem;
        padding: 5%;
        margin: auto;
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .box2{
        font-size: 15px;
        padding: 5%;
        margin: auto;
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
    }
    body p{
        font-size: 1rem;
        padding: 2%;
        text-align: right;
    }
}